.topItemWrapper{
    display: flex;
    justify-content: space-between;
    button{
        background-color: #2A324B;
        margin: 0px 10px;
        padding: 7px;
        border-radius: 6px;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
}

.titleWrapper{
    display: flex;
    justify-content: center;
}

.main{
    margin: 10px;
}

.searchBar{
    margin: 5px;
    input{
        padding: 5px;
        border-radius: 6px;
        min-width: 300px;
    }
    button{
        margin-left: 5px;
        padding: 5px;
        border-radius: 6px;
        color: white;
        background-color: #2A324B;
        &:hover{
            cursor: pointer;
        }
    }
}